<h2>Create Moves</h2>
    <p>Add new Move to the Moves table.</p>
    <form action="/addMoves/addMove" method="post" id="createForm" onsubmit="return checkMove()">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="typeSelected">Type:</label>
        <select id="typeSelected" name="typeSelected">
            <option selected="selected" value="-1">Select</option>
        {{#each types}}
            <option value="{{type_id}}">{{type_name}}</option>
        {{/each}}
        </select>
        <label for="powerSelected">Power:</label>
        <input type="number" id="powerSelected" name="powerSelected">
        <label for="accuracySelected">Accuracy:</label>
        <input type="number" id="accuracySelected" name="accuracySelected">
        <label for="ppSelected">PP:</label>
        <input type="number" id="ppSelected" name="ppSelected">
        <input type="submit" value="Create Move">
    </form>
    <h2>View Moves</h2>
    <p>Filter by type, power, accuracy, and PP</p>
    <fieldset>
      <legend>Filter</legend>
      <form action="/addMoves/searchMoves" method="post" id="searchForm">
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option selected="selected" value="-1">Any</option>
        {{#each types}}
            <option value="{{type_id}}">{{type_name}}</option>
        {{/each}}
        </select>
        <label for="power">Min Power:</label>
        <input type="number" id="power" name="power">
        <label for="accuracy">Min Accuracy:</label>
        <input type="number" id="accuracy" name="accuracy">
        <label for="pp">Min PP:</label>
        <input type="number" id="pp" name="pp">
        <input type="submit" value="Search">
      </form>
    </fieldset><br>
    <table>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Power</th>
        <th>Accuracy</th>
        <th>PP</th>
        <th></th>
      </tr>
      {{#each moves}}
      <tr>
        <td>{{move_name}}</td>
        <td>{{type_name}}</td>
        <td>{{power}}</td>
        <td>{{accuracy}}</td>
        <td>{{pp}}</td>
      </tr>
      {{/each}}
    </table>
